<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>Funky Moose Rootflow Synth</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>at.uwefelchle.rootflow.synth</string>
    <key>CFBundleName</key>
    <string>Funky Moose Rootflow Synth</string>
    <key>CFBundleDisplayName</key>
    <string>Funky Moose Rootflow Synth</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.3.2</string>
    <key>CFBundleVersion</key>
    <string>1.3.2</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Funky Moose Audio: Funky Moose Rootflow Synth</string>
        <key>description</key>
        <string>Funky Moose Rootflow Synth</string>
        <key>factoryFunction</key>
        <string>Funky_Moose_Rootflow_SynthAUFactory</string>
        <key>manufacturer</key>
        <string>FMAA</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>RTFL</string>
        <key>version</key>
        <integer>66306</integer>
      </dict>
    </array>
  </dict>
</plist>
